<div class="footer">
  <div class="footer__name">CoronaStats &copy; {{ year }}</div>
  <div class="footer__source">
    Made with love by
    <div>
      <a href="mailto:primeedits187@gmail.com">Saeed Alghamdi</a>
    </div>
  </div>
  <div class="footer__source">
    This site has been posible thanks to the data provided by this
    <div>
      <a href="https://github.com/pomber/covid19" target="blank">repository</a>
    </div>
  </div>
  <a class="hitCounter" href="https://visitorshitcounter.com/" target="_blank" title="Hit counter" data-name="85a9ccc9882e005787a426a111c786ec|5|page|1|#ea5050|#ffffff|small|s-hit">Hit Counter</a><script>document.write("<script type='text/javascript' src='https://visitorshitcounter.com/js/hitCounter.js?v="+Date.now()+"'><\/script>");</script>
</div>
